<div class="main-content">
    <div class="box-post" >
        <div class="post-content">
            <img class="post-icon" src="/static/img/profile.svg" />
            <P class="post-username">All done, heading home!</P>
            <P class="post-last-message">John Klinn</P>
            <P class="post-time">2:13 PM</P>
        </div>
    </div>
    <div class="box-post">
        <div class="post-content" >
            <img class="post-icon" src="/static/img/profile.svg" />
            <P class="post-username">When will you be back, John?</P>
            <P class="post-last-message">Me</P>
            <P class="post-time">1:53 PM</P>
        </div>
    </div>
</div>