<div class="main-content">

    <div class="box-post" ng-repeat="chat in thread.chats">
        <div class="post-content">
            <img class="post-icon" src="/static/img/profile.svg" />
            <P class="post-username">{{chat.message}}</P>
            <P class="post-last-message">{{chat.senderName}}</P>
            <P class="post-time">{{chat.time}}</P>
        </div>
    </div>


    <div class="chat-input">
        <input type="text" class="chat-input-text" ng-model="thread.messageToSend" />
        <img class="chat-input-button" src="/static/img/send.svg"
             ng-click="thread.sendMessage()"/>
    </div>
</div>