<div class="main-content">
     <div class="box-post" ng-click="chatList.threadSelected()">
            <div class="post-content">
                <img class="post-icon" src="/static/img/profile.svg" />
                <P class="post-username">John Klinn</P>
                <P class="post-last-message">All done, heading home!</P>
                <P class="post-time">2:13 PM</P>
            </div>
    </div>

    <!--<div class="button-add">-->
        <!--<img src="/static/img/add.svg" ng-click="chatList.addThread()"/>-->
    <!--</div>-->
</div>
