<div class="main-content">
     <div class="box-post" ng-click="chatList.threadSelected()">
            <div class="post-content">
                <img class="post-icon" src="/static/img/profile.svg" />
                <P class="post-username">House Chat</P>
                <P class="post-last-message">Man, I've been done....</P>
                <P class="post-time">2:13 PM</P>
            </div>
    </div>
    <div class="box-post">
        <div class="post-content" ng-click="chatList.threadSelected()">
            <img class="post-icon" src="/static/img/profile.svg" />
            <P class="post-username">Anonymous Chat</P>
            <P class="post-last-message">Who left the dishes out?</P>
            <P class="post-time">1:53 PM</P>
        </div>
    </div>
    <div class="box-post" ng-click="chatList.threadSelected()">
        <div class="post-content" >
            <img class="post-icon" src="/static/img/profile.svg" />
            <P class="post-username">Sam Hill</P>
            <P class="post-last-message">When are you coming back?</P>
            <P class="post-time">1:41 PM</P>
        </div>
    </div>

    <div class="button-add">
        <img src="/static/img/add.svg" ng-click="chatList.addThread()"/>
    </div>
</div>