<div>
    <div class="nav-header">
        <div class="r-full-width">
            <P class="hamburger-menu"
               ng-show="dash.mode === 'LIST' && !dash.showNotifications"
               ng-hide="dash.mode !== 'LIST' || dash.showNotifications"
                ng-click="dash.toggleHamburger()">
                <IMG class="icon-header" src="/static/img/hamburger.svg" />
            </P>
            <P class="arrow-menu"
               ng-show="dash.mode === 'THREAD' || dash.showNotifications"
               ng-hide="dash.mode !== 'THREAD' && !dash.showNotifications"
                ng-click="dash.backToList()">
                <IMG class="icon-header" src="/static/img/arrow-left.svg" />
            </P>
            <P class="dash-heading" ng-show="dash.mode === 'LIST'" ng-hide="dash.mode !== 'LIST'">{{dash.selectedTab}}</P>
            <P class="dash-heading" ng-show="dash.mode === 'THREAD'" ng-hide="dash.mode !== 'THREAD'">John Klinn</P>
            <P class="kabob-menu"> <div class="logo-banner">Harmony</div> </P>
            <P class="alarm"> <IMG  class="icon-header" src="/static/img/bell.svg" ng-click="dash.toggleAlarm()" /> </P>
            <!--<P class="kabob-menu"> <IMG class="icon-header" src="/static/img/kabob.svg" ng-click="dash.toggleKabob()"/> </P>-->

        </div>
    </div>

    <div>
        <div ng-show="dash.showDrawer===true">
            <div id="left-drawer">
                <div class="c-c">
                    <div id="drawer-profile">
                        <div id="c-c">
                            <img class="profile-img" src="/static/img/profile.svg" />
                            <P>
                                Joshua Tillman
                            </P>
                            <P>
                                House of the Future
                            </P>

                        </div>
                    </div>
                    <div id="drawer-payment">
                        <div class="flex-row">
                            <div class="r" ng-click="dash.goToSettings()">
                                <IMG src="/static/img/settings.svg" class="credit-card"/>
                                <P>
                                    Settings
                                </P>
                            </div>
                        </div>
                    </div>
                    <div id="drawer-bottom-tray">
                        <IMG src="/static/img/add-friend.svg" class="add-friend" />
                        <P>
                            Invite Housemates
                        </P>
                    </div>
                </div>
            </div>
            <div class="overlay" ng-click="dash.toggleHamburger()">

            </div>
        </div>
        <!--<div ng-show="dash.showKabobDrop">-->
            <!--<div class="drop-down">-->
                <!--<div class="c-c">-->
                    <!--<P>Help Center</P>-->
                    <!--<P>Settings</P>-->
                    <!--<P>Logout</P>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="overlay" ng-click="dash.toggleKabob()">-->

            <!--</div>-->
        <!--</div>-->


        <div ng-show="dash.selectedTab==='CHAT'" ng-hide="dash.selectedTab!=='CHAT'">
            <div ui-view="thread" ng-show="dash.mode === 'THREAD'" ng-hide="dash.mode !== 'THREAD'"></div>
            <div ui-view="chatList" ng-show="dash.mode === 'LIST'" ng-hide="dash.mode !== 'LIST'"></div>
        </div>
        <div ng-show="dash.selectedTab==='CHORES'">
            <div ui-view="chores"></div>
        </div>
    </div>



    <div class="nav-footer">
        <div class="r-full-width">
            <P class="footer-tab-active" ng-click="dash.switchTab('CHAT')"
               ng-show="dash.selectedTab==='CHAT'" ng-hide="dash.selectedTab!=='CHAT'">
                Chat
            </P>
            <P ng-click="dash.switchTab('CHAT')"
               class="footer-tab" ng-hide="dash.selectedTab==='CHAT'" ng-show="dash.selectedTab!=='CHAT'">Chat</P>

            <P class="footer-tab-active"
               ng-show="dash.selectedTab==='CHORES'" ng-hide="dash.selectedTab!=='CHORES'"
               ng-click="dash.switchTab('CHORES')"> Chores</P>
            <P class="footer-tab"
               ng-hide="dash.selectedTab==='CHORES'" ng-show="dash.selectedTab!=='CHORES'"
               ng-click="dash.switchTab('CHORES')"> Chores</P>


            <P class="footer-tab-active"
               ng-show="dash.selectedTab==='BILLS'" ng-hide="dash.selectedTab!=='BILLS'"
               ng-click="dash.switchTab('BILLS')"> Bills</P>
            <P class="footer-tab"
               ng-hide="dash.selectedTab==='BILLS'" ng-show="dash.selectedTab!=='BILLS'"
               ng-click="dash.switchTab('BILLS')"> Bills</P>
        </div>
    </div>
</div>