<div>
    <div class="nav-header">
        <div class="r-full-width">
            <P class="hamburger-menu">HAM</P>
            <P class="dash-heading">MESSAGES</P>
            <P class="alarm">BLL</P>
            <P class="kabob-menu">KBB</P>
        </div>
    </div>

    <div>
        <div class="main-content">
            <div ui-view="thread" ng-show="dash.mode === 'THREAD'" ng-hide="dash.mode !== 'THREAD'"></div>
            <div ui-view="chatList" ng-show="dash.mode === 'LIST'" ng-hide="dash.mode !== 'LIST'"></div>
        </div>
    </div>

    <div class="nav-footer">
    FOOTER
    </div>
</div>