<div class="main-content">
    <div class="r-c">
        <a class="tab-switch-left-active" ng-show="chores.showMyChores" ng-click="chores.toggleTab()">My Chores</a>
        <a class="tab-switch-left-inactive" ng-show="!chores.showMyChores" ng-click="chores.toggleTab()">My Chores</a>
        <a class="tab-switch-right-active" ng-show="!chores.showMyChores" ng-click="chores.toggleTab()">Others</a>
        <a class="tab-switch-right-inactive" ng-show="chores.showMyChores" ng-click="chores.toggleTab()">Others</a>
    </div>

    <div ng-show="chores.showMyChores">
        <div class="card">
            <div class="chores-section" >
                <div class="chores-heading">
                <P>Today</P>
                </div>
                <div class="chores-item" ng-repeat="chore in chores.myChoresToday">
                    <input type="checkbox" />
                    <P class="item-description">{{chore.name}}</P>
                    <P class="item-time">{{chore.time}}</P>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="chores-section">
                <div class="chores-heading">
                    <P>Tomorrow</P>
                </div>
                <div class="chores-item" ng-repeat="chore in chores.myChoresTomorrow">
                    <input type="checkbox" ng-checked="chore.checked" />
                    <P class="item-description">{{chore.name}}</P>
                    <P class="item-time">{{chore.time}}</P>
                </div>
            </div>
        </div>

    </div>

    <div ng-show="!chores.showMyChores">
        <div class="card">
            <div class="chores-section">
                <div class="chores-heading">
                    <P>Completed Today</P>
                </div>
            </div>
            <div class="box-post">
                <div class="post-content" ng-repeat="chore in chores.othersChoresCompleted">
                    <img class="post-icon" src="/static/img/profile.svg" />
                    <P class="post-username">{{chore.assigneeName}}</P>
                    <P class="post-last-message">{{chore.name}}</P>
                    <P class="post-time">{{chore.time}}</P>
                    <P class="post-action" ng-click="chores.callOut(chore)">Disagree?</P>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="chores-section">
                <div class="chores-heading">
                    <P>Past Due</P>
                </div>
            </div>
            <div class="box-post">
                <div class="post-content" ng-repeat="chore in chores.othersChoresPastDue">
                    <img class="post-icon" src="/static/img/profile.svg" />
                    <P class="post-username">{{chore.assigneeName}}</P>
                    <P class="post-last-message">{{chore.name}}</P>
                    <P class="post-time">{{chore.time}}</P>
                    <P class="post-action" ng-click="chores.remind(chore)">Remind?</P>
                </div>
            </div>
        </div>

    </div>

    <div class="button-add">
        <img src="/static/img/add.svg" ng-click="chores.createChore()"/>
    </div>

    <div ng-show="chores.showOverlay" class="overlay" ng-click="chores.hideOverlay()">

    </div>

    <div class="card-overlay" ng-show="chores.showOverlay">
        <P>New Chore:</P>
        <div class="box-floating_input">
            <input name="choreName" type="text" id="choreName"
                   ng-model="chores.newChore.name" required>
            <label for="choreName">Name</label>
            <span class="bar"></span>
        </div>

        <div class="box-floating_input">
            <input name="choreTime" type="text" id="choreTime"
                   ng-model="chores.newChore.choreTime" required>
            <label for="choreTime">Time HH:MM (24hr)</label>
            <span class="bar"></span>
        </div>

        <div class="box-floating_input">
            <input name="choreDate" type="text" id="choreDate"
                   ng-model="chores.newChore.choreDate" required>
            <label for="choreDate">Date (MM/DD/YYYY)</label>
            <span class="bar"></span>
        </div>
        <!--<div class="box-floating_input">-->
        <!--<div>-->
            <!--<input id="datetimepicker" type="text" >-->
            <!--&lt;!&ndash;<label for="datetimepicker">Date & Time</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="bar"></span>&ndash;&gt;-->
        <!--</div>-->

        <P>Assign To: </P>
        <div class="box-post">
            <div class="post-content">
                <img class="post-icon" src="/static/img/profile.svg" />
                <P class="post-assignee">Me</P>
                <input type="checkbox" class="post-checkbox" ng-click="chores.assignMe()">
            </div>
        </div>
        <div class="box-post">
            <div class="post-content">
                <img class="post-icon" src="/static/img/profile.svg" />
                <P class="post-assignee">Jimmy</P>
                <input type="checkbox" class="post-checkbox">
            </div>
        </div>
        <div class="box-post">
            <div class="post-content">
                <img class="post-icon" src="/static/img/profile.svg" />
                <P class="post-assignee">Sam</P>
                <input type="checkbox" class="post-checkbox">
            </div>
        </div>

        <P> <a class="button-overlay" ng-click="chores.submitChore()">Submit</a>
        </P>



    </div>
</div>