/*
Dimensions
*/
$desktop: "(min-width: 767px)";
$mobile: "(max-width: 767px)";
/*
Colors
*/
$color-primary: #0B4F6C;
$color-bright: #01BAEF;
$color-secondary: #20BF55;
$color-white: #F5FFFA;
$color-grey:#757575;

/*
Fonts
*/
$font-primary: Verdana;
/*
COMPONENT SIZES
*/
$header-height: 50px;
$font-header-size: 22px;
$footer-height: 70px;
$font-footer-size: 28px;

$border-radius-width:500px;

#boilerplate {
  color: $color-primary;
}

/*
Generics
*/
*{
  font-family: $font-primary;
}

.r {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.r-c {
  justify-content: center;
  @extend .r;
}

.c {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.c-c {
  justify-content: center;
  @extend .c;
}

.flex-row{
  display: flex;
  flex-flow: row;
}

.r-full-width{
  width:100%;
  @extend .r-c;
}
/*
Specific Page Components
*/
$heading-icon-tab-width:10%;
$heading-text-tab-width:70%;
$heading-icon-size:20px;

.header-element{
  padding: 10px;
  display:block;
}


.hamburger-menu{
  width:$heading-icon-tab-width;
  @extend .header-element;
}

.arrow-menu{
  width:$heading-icon-tab-width;
  @extend .header-element;
}

.dash-heading{
  padding-left: 12px;
  left:$heading-icon-tab-width;
  width:$heading-text-tab-width;
  display: block;
}

.alarm{
  left: $heading-icon-tab-width+$heading-text-tab-width;
  width:$heading-icon-tab-width;
  @extend .header-element;
}

.kabob-menu{
  left: $heading-icon-tab-width*2 + $heading-text-tab-width;
  width:$heading-icon-tab-width;
  @extend .header-element;
}

.icon-header{
  padding-top: 3px;
  height: $font-header-size;
  width: $font-header-size;
}

.nav-header{
  background-color: $color-primary;
  width: 100%;
  color: $color-white;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
  position: fixed;
  font-size: $font-header-size;
  height: $header-height;
  box-shadow: 1px 1px 20px $color-grey;
  z-index:2000;
  @extend .flex-row;
}

.main-content{
  top:$header-height;
  padding-top:$header-height;
  bottom: $footer-height;
  padding-bottom: $footer-height;
  height: 100%;
  min-height: 800px;
  background-color: #FAFAFA;
  width: 100%;
  z-index: -1;
}

.footer-tab{
  display: block;
  width: 50%;
  border-color: $color-white;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 6px;
  padding:17px;
}

.footer-tab-active{
  @extend .footer-tab;
  background-color: $color-bright !important;
}



.nav-footer{
  background-color: $color-primary;
  width: 100%;
  color: $color-white;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
  position: fixed;
  font-size: $font-footer-size;
  height: $footer-height;
  box-shadow: 1px 1px 50px $color-grey;
  z-index:2000;
  @extend .flex-row;
}

.box-post {
  padding-bottom: 6px;

  position: relative;

  border-bottom: 1px solid #C9D2D7;
}

.post-content {
  position: relative;

  padding-left: 28px;
  padding-right: 72px;

  @extend .flex-row;
}

.post-icon {
  width: 32px;

  margin-right: 8px;
  margin-top: 4px;
}

.post-username {
  font-size: 14px;
  font-weight: 400;
  min-height: 34px;
  color: $color-primary;
}

.post-assignee {
  font-size: 14px;
  font-weight: 400;
  min-height: 34px;
  margin-top:27px;
  color: $color-primary;
}

.post-last-message {
  font-size: 10px;
  color: $color-grey;

  position: absolute;

  left: 68px;
  bottom: 6px;
}

.post-time{
  font-size: 14px;
  font-weight: 400;
  min-height: 34px;
  color: $color-primary;
  right:15px;
  position:absolute;
}

.post-checkbox{
  font-size: 14px;
  font-weight: 400;
  min-height: 34px;
  color: $color-primary;
  right:15px;
  position:absolute;
  margin-top:20px;
}

.post-action{
  color: #BD362F;
  font-size: 14px;
  font-weight: 400;
  min-height: 34px;
  right:15px;
  top:22px;
  font-style: oblique;
  position:absolute;
}


ul {
  height: 80%;

  padding-top: 28px;
  padding-left: 64px;
  padding-right: 0;

  overflow-y: auto;

}

li {
  width: 100%;
  //height: 62px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;

  padding: 10px 20px;

  margin: 0 auto;

  border-bottom: 1px solid #A4B5BF;
}

.button-add{


  img{
    height: 50px;
    width: 50px;
    padding: 10px;
    bottom: $footer-height+15px;
    right: 15px;
    position: fixed;

  }
}

.chat-input{
  bottom:$footer-height;
  left:10px;
  right:10px;
  width:100%;
  min-width:260px;
  padding:2px;
  position:fixed;

}

.chat-input-text{
  height: $header-height;
  margin-bottom: 20px;
  width:90%;
  box-shadow: 1px 1px 6px  $color-grey;
}

.chat-input-button{
  height: $header-height*0.5;
  width:$header-height*0.5;
  position: fixed;
  z-index: 2000;
  right:10% !important;
  bottom: 105px;
}

#left-drawer{
  z-index: 2100;
  background-color: #fafafa;
  height:100% !important;
  min-height: 600px;
  position:fixed;
  left:0px;
  width: 180px !important;
  min-width: 120px;
  top:0px;
  bottom: 0px;
  box-shadow: 1px 1px 6px  $color-grey;
  border-color: $color-grey;
  border-style: solid;
  border-width: 2px;
  border-bottom-width: 4px;
  display: flex;
  flex-flow: column;
}

#drawer-profile{
  padding: 0px;
  left:0px;
  background-color: $color-bright;
  height: 190px;
  display: flex;
  flex-flow: column;
  font-size: 16px;
  color: #fafafa;
  border-bottom-color: $color-grey;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  P{
    display: block;
    padding-left: 10px;
    padding-right: 9px;
  }
}

.profile-img{
  left: 30px;
  padding-left:50px;
  padding-top:30px;
  height: 80px;
  width: 80px;
}

.overlay{
  position: absolute;

  top: -1*$header-height;
  right: 0;
  bottom: -1*$footer-height;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);


  z-index: 2099;
}

#drawer-payment{
  left:7px;


  P{
    color: $color-primary;
    margin:8px;
  }
}

#drawer-bottom-tray{
  background-color: $color-primary;
  bottom:0px !important;
  height:$footer-height !important;
  position:absolute;
  border-color: $color-grey;
  border-style: solid;
  border-width: 2px;
  P{
    color: #fafafa;
  }

  @extend .flex-row;
}

.add-friend{
  width: 30px;
  margin: 5px;
}

.credit-card{
  height: 35px;
  width: 25px;
}

.drop-down{
  z-index: 2100;
  background-color: #FFFFFF;
  color: $color-primary;
  size: 18px;
  display:flex;
  flex-flow:column;
  position:absolute;
  right:9%;
  top:30px;
  border-color: $color-primary;
  border-style: solid;
  border-width: 1px;

  P{
    padding-left:20px;
    left:-120px;
    width:120px;
  }

}


.card {
  padding: 4px 12px;

  margin-top:22px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 2px;

  background-color: $color-white;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.box-floating_input {
  $height-input: 28px;

  height: $height-input;

  position: relative;

  margin-top: 8px;
  margin-bottom: 8px;

  @media #{$desktop} {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  input {
    width: 100%;
    height: $height-input;

    font-size: 14px;

    @media #{$desktop} {
      font-size: 22px;
    }

    background-color: $color-white;

    padding-left: 4px;
    padding-right: 4px;

    border: none;
  }

  input:focus {
    outline: none;

  }

  input:focus + label, input:valid + label {
    top: -18px;
    font-size: 10px;
    @media #{$desktop} {
      top: -22px;
      font-size: 14px;
    }
  }

  .bar {
    width: 100%;
    height: 2px;

    position: absolute;
    bottom: 0;

    background-color: #333;

    transition: width 0.3s linear;
  }

  .highlight {
    width: 0;
    height: 3px;

    position: absolute;
    bottom: -0.5px;


    transition: width 0.3s linear;
  }




  input:focus ~ .highlight, input:valid ~ .highlight {
    width: 100%;
  }

  label {
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;

    line-height: $height-input;

    font-size: 14px;

    @media #{$desktop} {
      font-size: 22px;
    }

    color: #aaa;


    transition: top 0.3s linear, font-size 0.3s linear;
  }
}

#card-login {
  min-height: 300px;

  position: absolute;

  top: 52px;
  right: 36px;
  left: 36px;
  bottom: 52px;

  display: flex;
  flex-flow: column;
  justify-content: space-between;

  #title {
    font-weight: 300;
    font-size: 24px;

    text-align: center;

    margin: 0;
  }

  @media #{$desktop} {

    #title {
      font-size: 52px;
    }

    .logo-login {
      width: 164px;
    }

    #box-top {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
}

  #box-input {
    display: flex;
    flex-flow: column;

    padding: 0 12px;

    margin-top: -6px;

    @media #{$desktop} {
      width: 500px;

      margin-top: 20px;

    }

    a {
      margin-top: 32px;
    }
  }


#box-info {
  display: flex;
  flex-flow: column;

  padding: 0 12px;

  margin-top: 22px;

  @media #{$desktop} {
    width: 800px;

    margin-top: 20px;

  }

  a {
    margin-top: 32px;
  }
}

.button-round {
  width: 150px;

  font-size: 14px;
  font-weight: 400;

  @media #{$desktop} {
    font-size: 18px !important;
    width: 240px !important;
  }

  color: white;

  text-align: center;

  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;

  padding: 12px 12px;

  box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 8px, rgba(0, 0, 0, 0.219608) 0px 0px 3px;
  background-color: $color-bright;

  border-radius: 20px;

  transition: box-shadow 0.1s linear;
  -webkit-transition: box-shadow 0.1s linear;

  cursor: pointer;
}

.card-background{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: $color-primary;
}


.logo-medium{
  height: 150px;
  width: 150px;
}

.logo-banner{
  font-family: "Palatino";
  font-style: italic;
}

.tab-switch{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 86px;
  box-shadow: 1px 1px 10px $color-grey;
}


.tab-switch-left{
 @extend .tab-switch;
  border-bottom-left-radius: $border-radius-width;
  border-top-left-radius: $border-radius-width;
}
.tab-switch-right{
  @extend .tab-switch;
  border-bottom-right-radius: $border-radius-width;
  border-top-right-radius: $border-radius-width;
}

.tab-switch-active{
  background-color: $color-bright;
  color: $color-primary;
}

.tab-switch-inactive{
  background-color: $color-grey;
  color: #9e9e9e;
}


.tab-switch-left-active{
  @extend .tab-switch-left;
  @extend .tab-switch-active;
}

.tab-switch-right-active{
  @extend .tab-switch-right;
  @extend .tab-switch-active;
}

.tab-switch-left-inactive{
  @extend .tab-switch-left;
  @extend .tab-switch-inactive;
}

.tab-switch-right-inactive{
  @extend .tab-switch-right;
  @extend .tab-switch-inactive;
}

.chores-heading{
  @extend .flex-row;
  P{
    width: 50%;
  }

}

.chores-item{
  @extend .r;
  input{
    width: 5%;
  }


  .item-description{
    font-style: oblique;
    width:80%;
    padding-left: 5px;
  }

  .item-time{
    width: 25%;
    padding-right:0px;
  }


}

.card-overlay{
  @extend .card;
  z-index: 2100;
  position: absolute;
  min-height: 500px;
  width: 75%;
  top: 100px;
  margin-top: -40px !important;
}

.card-overlay-small{
  @extend  .card;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  z-index: 2100;
  width: 51%;
  position: fixed !important;
  left: 50px !important;
  right: 50px !important;
  top: 150px !important;
  min-height: 200px;
}

.button-overlay{
  @extend .button-round;
  margin-left: 39%;
}

.button-round-alternative{
  @extend .button-round;
  background-color: $color-primary;
}
